@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root{
    --font:'Rubik', sans-serif;
    --lightb:#FF521B;
    --lightf:#FC9E4F;
    --darkb:#090809;
    --darkf:#78C0E0;
    --darkT:#FFFBFE;
}
body{
    background-color: var(--lightb);
    font-family: var(--font);
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.generador{
    background-color: var(--lightf);
    border-radius: 15px;
    margin-left: 10vh;
    margin-right: 10vh;
}
@media (min-width:992px){
    .generador{
        margin-left: 25vh;
        margin-right: 25vh;
    }
}
